.selfMain {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #fff;
}
.self {
  border-radius: 5px;
  margin: auto;
  align-content: center;
  position: relative;
}
