.workMain {
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.712)),
    url("/work.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.work {
  margin: auto;
  text-align: center;
}
.exp {
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.022), rgba(0, 0, 0, 0.463)),
    url("/work/experience.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.pro {
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.712)),
    url("/work/projects.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.blog {
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.712)),
    url("/work/blogs.webp"); /* Absolute path from the public folder */
  background-repeat: no-repeat;
  background-size: cover;
}
